<html lang="en">

<head>
      {{>scripts}}
</head>

<body>
      {{>header}}
      <div class="container">
            <h1>{{title}}</h1>

            <p><strong>Area:</strong> {{location}}</p>
            <p><strong>Temperature:</strong> {{forecast}}</p>
            <p><strong>Location:</strong> {{address}}</p>
            <p>Created by {{name}}</p>
      </div>
      {{>footer}}
</body>

</html>